<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976436808415-7j1flgv8r1pvk8n6dbtf5rt7ea02ts26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976436808415-7j1flgv8r1pvk8n6dbtf5rt7ea02ts26</string>
	<key>API_KEY</key>
	<string>AIzaSyCni1OBfJo_j5Kx5Q6c5fgzYmGrrepSj40</string>
	<key>GCM_SENDER_ID</key>
	<string>976436808415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Atarashii.PocketLearner</string>
	<key>PROJECT_ID</key>
	<string>atarashii2-fa9ec</string>
	<key>STORAGE_BUCKET</key>
	<string>atarashii2-fa9ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976436808415:ios:dd66aa1158df718f2fb76a</string>
</dict>
</plist>